

html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }


/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fff; 
  font-family: "Inter", Helvetica, sans-serif;
	
}

.center {
    margin: auto;
	max-width: 100%;
}

   
#logo {
    margin-bottom: 16px;
	border: 3px dashed red;
	text-align: center;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 2.5em;
    margin-bottom: 20px;
	margin-top:0;
}

.subtitle {
	display:block;
	width:100%;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 2em;
    line-height: 1.4;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 1.2em;
    line-height: 1.6;
}

a {
	color: #fff;
}
    
    
img {
	max-width: 100%;
}

.hero {
	background-image: url("/green-interiors/images/gi8.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	min-height:95vh;
	position:relative;
}

.hero img {
	position:absolute;
	top:15%;
	left:15%;
}

.introduction {
	padding: 100px 10px;
	text-align: center;
	max-width: 75ch;
	margin: auto;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 100px 10px;
}

.copyright {
	text-align:center;
}
.grid-2 {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	margin:auto;
	padding-bottom:50px;
}

.grid-content {
	padding:50px;
}

@media screen and (min-width: 768px) {
	.grid-2 {
		flex-direction: row;
	}
	.grid-2 > * {
		flex: 0 0 50%;
	}

	.grid-2 .image-container {
		width: 100%;
		height:100%;
		
	}

}

.grid-2 img {
	object-fit: contain	;
	max-width:100%;
}

.button {
	background-color: #A6C984;
	text-decoration:none;
	color: #fff;
	font-size: 20px;
	padding: 0.5em 1em;
}

